<header></header>

<div class="container">
  <div class="row">
    <div class="col-12">
       <child1 [datafromparent]="childdtata">
        <h1>wow </h1>
        <p chanelName>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ad alias in aliquam repudiandae libero quia dolorum odit consequatur. Numquam itaque quibusdam cumque a exercitationem dolorem quisquam reiciendis ratione delectus.
        </p>
        <p channelPath>
         channel path Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae ad alias in aliquam repudiandae libero quia dolorum odit consequatur. Numquam itaque quibusdam cumque a exercitationem dolorem quisquam reiciendis ratione delectus.
        </p>
       </child1>
    </div>
  </div>
</div>

<footer></footer>

